[package]
name = "shared"
version = "0.1.0"
edition = "2024"
license = "GPL-3.0"

[dependencies]
tracing.workspace = true
anyhow.workspace = true
tokio = { workspace = true, features = ["full"] }
regex.workspace = true
sha2.workspace = true

nix-utils = { path = "../nix-utils" }
